.wrapper {
  background-color: #d0cece;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}
.logo_wrapper {
  padding-top: 5px;
}
.name {
  background-color: #ce1d1d;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-family: Arial, serif;
  width: 75px;

  font-size: 20px;
  color: white;
}
.subname {
  font-size: 15px;
}
.blank {
  width: 125px;
}
@media screen and (max-width: 767px) {
  .blank {
    display: none;
  }
  .wrapper {
    flex-direction: column;
  }
}
