.switch {
  background-color: #ababab;
  border-radius: 10px;
  border: none;
  margin: 5px;
  color: white;
  font-size: 12px;
}
.on {
  background-color: #525252;
}
.switch:hover {
  cursor: pointer;
}
